@media only screen and (max-width: 740px) {
  .navbar-brand {
    display: none;
  }
}

.navbar {
  height: 56px;
  background-color: #1186ca;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.container-contents {
  max-width: 1080px;
}
