.searchItem {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  border-color: white white lightgrey white;
  height: auto;
  align-items: center;
  color: rgb(55, 55, 55);
  font-size: 13px;
  cursor: pointer;
}

.mkbCode {
  display: inline;
  border-radius: 3px;
  padding: 0px 5px;
  background-color: #555555;
  color: #ffffff;
}

.mkbTitle {
  margin-left: 5px;
}

.searchItem:hover {
  background-color: #20a7e6;
  color: white;
}
