.navbar {
  background-color: #34aad8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.container-contents {
  max-width: 1080px;
}

.navbar-toggler {
  cursor: pointer;
  border-color: #34aad8 !important;
}

.navbar-brandname {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.nav-item {
  font-size: 16px !important;
  margin-top: 2px;
  margin-right: 0px;
  color: white !important;
}

/* For Tablets and Mobile */
@media screen and (max-width: 767px) {
  .nav-item {
    margin: 0px auto 0px 5px;
  }
}
