@media only screen and (max-width: 720px) {
  .navbar-brand {
    display: none;
  }
}

.navbar {
  height: 56px;
  background-color: #128cbd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.container-contents {
  max-width: 1080px;
}
