.searchItem {
  display: block;
  text-decoration: none;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  border-color: white white lightgrey white;
  height: auto;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}

.mkbCode {
  display: inline;
  border-radius: 3px;
  padding: 0px 3px;
  background-color: #555555;
  color: white;
}

.mkbTitle {
  margin-left: 3px;
  color: rgb(55, 55, 55);
}

.searchItem:hover {
  background-color: #41b8e7;
}

.searchItem:hover .mkbTitle {
  color: white !important;
}
