.search-field {
  display: inline-flex;
  border-radius: 3px;
  overflow: hidden;
  margin: 0px 2px 0px 2px;
}

.search-field input {
  background-color: white;
  color: rgb(55, 55, 55);
  height: 30px;
  width: 210px;
  font-size: 15px;
  border: 0;
}

.search-field input:focus {
  outline: none;
}

.search-icon {
  height: 30px;
  width: 30px;
  background-color: white;
  color: #2ba3d4 !important;
  display: grid;
  place-items: center;
  border-radius: 0px 3px 3px 0px;
}

.search-icon svg {
  font-size: 22px;
}

.close-icon {
  cursor: pointer;
}

.list-results {
  position: fixed;
  display: none;
  margin-top: 2px;
  margin-left: 2px;
  width: 240px;
  height: 40px;
  border-radius: 3px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 99999;
}

/* For Tablets and Mobile */
@media screen and (max-width: 767px) {
  .search-field {
    margin: 2px auto 2px 0px;
  }

  .list-results {
    margin-top: 0px;
    margin-left: 0px;
  }
}
