@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

#wrapper {
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 1rem;
  max-width: 1080px;
}

a.anchor {
  visibility: hidden;
}

.anchor:target {
  scroll-margin-top: 86px;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

a {
  color: #128cbd;
}

ol {
  list-style: decimal outside;
}

ol > li::before {
  margin-top: 0.54em;
  font-size: 0.85em;
  text-align: right;
  position: absolute;
  display: block;
  width: 20px;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}

.cursor-pointer {
  cursor: pointer;
}
